@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", "Open Sans fallback", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #0f2741;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* background-color: #f4f8fb; */
  background-color: #f6fbff;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0.75rem 0;
}

/* Custom styles */
.svg-invert {
  filter: invert(100%)
}

.br-custom{
  display: block;
  margin-bottom: 0.5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.card{
  background-color: white;
  box-shadow: 0 0 0.75rem 0 rgba(200, 200, 200, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin-top: 2rem;
}

.uppercase{
  text-transform: uppercase;
}

.heading-1{
  font-weight: 300;
  font-size: 2.25rem;
}

.badge{
  display: inline-block;
  padding: 0.35em 0.75em;
  border-radius: 2em;
  background-color: #0b85e5;
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
}

.badge .info{
  background-color: white;
  color: #0b85e5;
  padding: 0 0.525em;
  border-radius: 100%;
  font-size: smaller;
  margin-left: 0.25em;
}

.label{
  color: #0b85e5;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
} */

.chart{
  max-height: 25rem;
}